:root {
    --main-bg-color: #0c1631;
    --branco: #fff;
    --roxo:#6449BE;
    --azulclaro:#0073e6;
  }

header {
    display: flex;
    align-items: flex-start;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../imagens/fundoquiz.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Black Han Sans", system-ui;
    max-width: 100%;
    background-color: var(--main-bg-color); 
    color: var(--branco);
}

.container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    border: 0.5rem solid var(--branco);
    border-right: 3rem solid var(--branco);
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario img{
    max-width: 5rem;
}

.hBotao {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: small;
    display: inline-block;
    align-content: center;
    padding: 0.313rem 2rem;
    color: var(--branco);
    background-color: var(--main-bg-color);
    text-decoration: none; 
    border-radius: 5rem;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.logo img {
    max-width: 6rem;
}

.seta{
    margin-top: 2rem;
}

.textos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    text-align: center;
    width: 200vh;
}

.textos h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.textos span {
    align-items: start;
    margin-top: 5rem;
}

.botoesquiz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.botaoquiz {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 40rem;
    font-size: 1.5rem;
    color: var(--branco);
    border: 1rem solid var(--roxo);
    background-color: var(--roxo);
    text-decoration: none; 
    border-radius: 2rem;
}

.proxima {
    display: flex;
    justify-content: center;
}

.proxima button{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 4rem;
    color: var(--branco);
    border: 2rem solid var(--azulclaro);
    background-color: var(--azulclaro);
    border-radius: 2rem;
    width: 20rem;
}

.proxima a {
    text-decoration: none;
    color: var(--branco);
}

.botaoquiz:hover {
    cursor: pointer;
}

@media (min-width: 2000px) {
    .textos {
        margin-top: 2rem;
    }
    .botoesquiz {
        max-width: 80rem;
    }
    .botaoquiz {
        width: 10rem;
    } 
  }