:root {
    --main-bg-color: #0c1631;
    --branco: #fff;
  }

header {
    display: flex;
    align-items: flex-start;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: var(--main-bg-color); 
    color: var(--branco);
}

.container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    border: 0.5rem solid var(--branco);
    border-right: 3rem solid var(--branco);
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario img{
    max-width: 5rem;
}

.hBotao {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: small;
    display: inline-block;
    align-content: center;
    padding: 0.313rem 2rem;
    color: var(--branco);
    background-color: var(--main-bg-color);
    text-decoration: none; 
    border-radius: 5rem;
    text-align: center;
}


.logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.logo img {
    max-width: 6rem;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.inicio h1{
    margin-top: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: var(--branco);
    font-size: 2.5rem;
    margin-bottom: 0;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

.cima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seta {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400 bold;
    font-style: normal;
    align-items: center;
    margin-left: 68rem;
    text-decoration: none;
    color: var(--branco);
}


.content {
    font-family: "Poppins", sans-serif;
    padding: 40px 0;
    text-align: center;
}

.content h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #f5f5f5;
}

.content-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.content-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content-item img {
    max-width: 100%;
    border-radius: 10px;
}

.content-item h3 {
    font-size: 1.5rem;
    color: #0073e6;
    margin: 20px 0;
}

.content-item p {
    color: #555;
}

@media (max-width: 1920px) {
    .box {
        width: 100%; /* Each box takes up full width */
        padding-bottom: 100%; /* Maintain square shape */
    }
}