:root {
    --main-bg-color: #0c1631;
    --branco: #fff;
    --roxo: #6449BE;
  }

header {
    display: flex;
    align-items: flex-start;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    max-width: 100%;
    background-color: var(--main-bg-color); 
    color: var(--branco);
}

.container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    border: 0.5rem solid var(--branco);
    border-right: 3rem solid var(--branco);
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario img{
    max-width: 5rem;
}

.hBotao {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: small;
    display: inline-block;
    align-content: center;
    padding: 0.313rem 2rem;
    color: var(--branco);
    background-color: var(--main-bg-color);
    text-decoration: none; 
    border-radius: 5rem;
    text-align: center;
}


.logo {
    margin-left: 2rem;
}

.logo img {
    max-width: 6rem;
}


.cima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.seta {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400 bold;
    font-style: normal;
    align-items: center;
    margin-left: 68rem;
    text-decoration: none;
    color: var(--branco);
}

.quimico{
    margin-top: 0;
    border: 0.5rem solid var(--roxo);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 8rem;
    border-radius: 2rem;
}

.nome {
    margin: 0;
    font-family: "Black Han Sans", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--branco);
    margin-top: 1rem;
    font-size: 2.5rem;
}

hr {
    width: 30rem;
    border: solid var(--branco) 0.25rem;
}

.ps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Nokora", sans-serif;
    gap: 0.5rem;
    margin: 1rem;
    margin-top: 0.25rem;
}

.ps p {
    margin: 0;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1rem solid var(--roxo);
    background-color: var(--roxo);
    border-radius: 1rem;
    margin: 2rem;
    margin-top: 0;
}

.conteudo p{
    text-align: justify;
    max-height: 50%;
}

@media (max-width: 1920px) {
    .box {
        width: 100%; /* Each box takes up full width */
        padding-bottom: 100%; /* Maintain square shape */
    }
}